@charset "UTF-8";
html{
  background-color: #333;
  background-image: url(../img/bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

body{
  color: #fff;
  margin:0;
  background-color: rgba(20%,20%,20%,0.5);
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #fff;
}

header{
  display: flex;
  justify-content: flex-start;
  height: 120px;
  width: 100%;
  background-color: #333;
  position: fixed;
  z-index: 10;
}

h1{
  font-size: 50px;
  font-family: cursive;
  padding:20px;
  margin: 0 80px;
}

.menu{
  display: flex;
  align-items: flex-end;
}

.menu a{
  display: block;
  margin: 0 20px;
}

.menu ul{
  margin: 30px 0;
}

.sns-link{
  display: flex;
  flex-direction: row;
}

.scroll-img{
  width: 100%;
  height: 750px;
}

.top-heading{
  color: #fff;
  font-size: 80px;
  position: absolute;
  top: 320px;
  left: 250px;
  text-align: center;
}

.fa-angle-double-down{
  cursor: pointer;
}

main{
  display:flex;
  flex-direction: column;
  padding-top: 120px;
}

.flexbox{
  display: inline-flex;
  justify-content: space-around;
}



.article-link{
  display: inline-block;
}

article:hover{
  background-color: rgba(255,255,255,0.3);
  transition: all .5s;
}

article{
  text-align: center;
  border-top: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
  border-radius: 10px;
  width: 300px;
  height:175px;
  margin-top: 75px;
  position: relative;
}

article img{
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left:110px;
}

article h2{
  font-size: 20px;
  padding-top: 20px;
}

footer{
  height: 200px;
  margin-top: 170px;
  background-color: #333;
}

.footer-menu{
  display: flex;
  justify-content: flex-end;
}

.footer-link{
  display: flex;
  flex-direction: column;
}

.footer-link a{
  font-size: 18px;
  display: inline-block;
  margin: 6px 50px;
}
